@import "tailwindcss";

:root {
  --color-primary: #0891b2;
  --color-primary-dark: #0e7490;
  --color-bg: #211fb3;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #4184bc;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
